<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xmlns:web="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="5.0">
	<display-name>initParameters</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>
	<!-- Configuring the Init-Params using the web.xml file for the ReadUserServlet -->
	<servlet>
		<servlet-name>ReadUserServlet</servlet-name>
		<servlet-class>com.servlet.initParameters.ReadUserServlets</servlet-class>
		<init-param>
			<param-name>dbUrl</param-name>
			<param-value>jdbc:mysql://localhost:3306/VenkataReddy</param-value>
		</init-param>
		<init-param>
			<param-name>dbUser</param-name>
			<param-value>root</param-value>
		</init-param>
		<init-param>
			<param-name>password</param-name>
			<param-value>Venk0907</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReadUserServlet</servlet-name>
		<url-pattern>/readServlet</url-pattern>
	</servlet-mapping>
</web-app>